[submodule "modules/translation-0.1/libraries/flintstone"]
	path = modules/translation-0.1/libraries/flintstone
	url = https://github.com/tiv-source/flintstone.git
[submodule "modules/endpointmanager-1.2/libraries"]
	path = modules/endpointmanager-1.2/libraries
	url = git://github.com/tm1000/Provisioner.git
[submodule "modules/translation-0.1/lang"]
	path = modules/translation-0.1/lang
	url = https://github.com/tiv-source/bluebox-lang.git
